html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* I will put the UI/Overhead.css soon to make it work other components as well */


nav{
    width: 100%;
    height: 60px;
    background-color: skyblue;
    padding-top: 10px;
}

.nav_box{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between

}


.my_shop{
    font-size: 1.5rem;
    font-weight: bold;
    color: aliceblue;
    font-family: cursive;
    cursor: pointer;
}

.search{
    width: 500px;
    height: 37px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.search i{
    font-size: 20px;
    color: skyblue;


}

.search input{
    flex: 1;
    height: 37px;
    border: none;
    outline: none;
    font-size: 16px;
}

.cart{
    cursor: pointer;
}


.cart span:nth-child(1){
    font-size: 2rem;
    color: white;
    margin: 10px;
}

.cart span:nth-child(2){
    padding: 2px 2px;
    background-color: rgb(49, 214, 219);
    color:white;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    right: 15px;
    top: -20px;
}

